@import '~materialize-css/dist/css/materialize.min.css';

#app {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#content {
  padding-top: 20px;
  padding-bottom: 50px;
  flex: 1 0 auto;
}

.page-footer {
  position: relative; 
  bottom: 0px; 
  width: 100%;
}

.card {
  height: 100%;
  margin: 0;
}

.brand-logo > img {
  max-width: 180px;
  
  @media screen and (max-width: 600px) {
    max-width: 150px;
  }
}

#nav-mobile li:hover {
  background-color: #424242;
}

.btn {
  background-color: #00afc7;
}

.btn:hover {
  background-color: #047d8d;
}

.page-footer .footer-copyright {
  padding: 0px 20px;
}
